<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="leftMenuFragment">

    <div class="leftMenu-inner">
        <div class="logo-wrap">
            <div class="img">
                <a href="/admin/company">
                    <img src="/images/admin/logo_w.png" alt="트래블인천">
                </a>
            </div>
        </div>
        <ul class="menu-area">
<!--            <li class="menu1"><a href="/admin/company" title="업체관리">업체관리</a></li>-->
<!--            <li class="menu2"><a href="/admin/first-course" title="1차코스">1차코스</a></li>-->
            <li class="menu3"><a href="/admin/second-course" title="VR 포트폴리오">VR 포트폴리오 관리</a></li>
<!--            <li class="menu4"><a href="/admin/reservation" title="예약관리">예약관리</a></li>-->

<!--            <li class="menu6"><a href="/admin/unit/cost" title="부대비용">부대비용</a></li>-->
            <li class="menu7"><a href="/admin/qna/VR" title="VR 제작 의뢰">VR 제작 의뢰</a></li>
            <li class="menu8"><a href="/admin/qna/insurance" title="여행자 보험 관리">여행자 보험 관리</a></li>
            <li class="menu9"><a href="/admin/member" title="회원 관리">회원 관리</a></li>
            <li class="menu5"><a href="/admin/banner" title="배너관리">배너관리</a></li>
        </ul>
    </div>

</th:block>

</html>