/*왼쪽메뉴*/
.admin{}
.admin-leftMenu-wrap {position:fixed; top:0; left: 0; right:0; bottom:0; width: 20vw; background: #f7f7f7; border-right:1px solid #e7e7e7; padding:30px 2vw; transition:width .3s;}

.admin-leftMenu-wrap .menuSize-btn{display:flex; justify-content: center; align-items: center; background: #fff; width: 35px;height: 35px; border:1px solid #e7e7e7; border-radius: 5px; position:absolute; top:37.5px; right:-17.5px;}
.admin-leftMenu-wrap .menuSize-btn i{color: #aaa; font-size: 11px;}

.admin-leftMenu-wrap.foldMenu .menuSize-btn i{transform:rotate(180deg); margin-left: 1px;}

.admin-leftMenu-wrap.foldMenu{width: 100px; display:flex; align-items: center; flex-direction: column;}

.admin-leftMenu-wrap .adminInfo-wrap{display:flex; justify-content: space-between; align-items: center;}

.admin-leftMenu-wrap .img-wrap{display:flex; justify-content: flex-start; align-items: center;}

.admin-leftMenu-wrap img{display:block; width: 50px;height: 50px; border-radius: 50%; border:1px solid #e7e7e7; background: #fff; overflow: hidden; object-fit: cover;}

.admin-leftMenu-wrap .adminInfo-wrap .adminInfo{margin-left: 10px; }
.admin-leftMenu-wrap .adminInfo-wrap .adminInfo p.name{color: #000; font-size: 18px; font-weight: 600; margin-bottom: 4px;}
.admin-leftMenu-wrap .adminInfo-wrap .adminInfo p.level{color: #888; font-size: 13px;}

.admin-leftMenu-wrap .adminInfo-wrap .adminUpdate-btn{display:flex; justify-content: center; align-items: center; width: 30px;height:50px; }
.admin-leftMenu-wrap .adminInfo-wrap .adminUpdate-btn span{width: 3px; height: 3px; border-radius: 50%; display:block; background: #aaa; position:relative; }
.admin-leftMenu-wrap .adminInfo-wrap .adminUpdate-btn span:before{content:''; display:block; width: 3px;height: 3px; border-radius: 50%; background: #aaa; position:absolute; top:-7px; left:0;}
.admin-leftMenu-wrap .adminInfo-wrap .adminUpdate-btn span:after{content:''; display:block; width: 3px;height: 3px; border-radius: 50%; background: #aaa; position:absolute; bottom:-7px; left:0;}


.admin-leftMenu-wrap.foldMenu .adminInfo{display:none;}
.admin-leftMenu-wrap.foldMenu .adminUpdate-btn{display:none;}



/*navList*/
.admin-leftMenu-wrap .navList {margin-top: 15px; border-top:1px solid #e7e7e7; width: 100%;}

.admin-leftMenu-wrap .navList > li {border-bottom:1px solid #e7e7e7; padding-bottom: 0px; transition:padding 0.3s; width: 100%;}
.admin-leftMenu-wrap .navList > li > a{display:flex; justify-content: flex-start; align-items: center; width: 100%;  padding: 20px 0; position:relative;}
.admin-leftMenu-wrap .navList > li > a i{font-size: 15px; color: #aaa; vertical-align: middle; margin-bottom: -1.5px;}
.admin-leftMenu-wrap .navList > li > a span{color: #000; font-weight: 600; margin-left: 8px; vertical-align: middle; font-size: 17px; }


.admin-leftMenu-wrap .navList > li.hasDep2 > a:after{content:'\2b'; display:flex; justify-content: center; align-items: center; width: 35px; height: 35px; font-weight: 900; font-family: "Font Awesome 6 Pro"; font-size: 14px; color: #aaa; position:absolute; top:50%; right:0; transform: translateY(-50%);}
.admin-leftMenu-wrap .navList > li.hasDep2.actived > a:after{content:'\f068'; display:flex; justify-content: center; align-items: center; width: 35px; height: 35px; font-weight: 900; font-family: "Font Awesome 6 Pro"; font-size: 13px; color: #aaa; position:absolute; top:50%; right:0; transform: translateY(-50%);}

.admin-leftMenu-wrap .navList > li .depth2{display:none;}
.admin-leftMenu-wrap .navList > li .depth2 .depTitle{display:none;}

.admin-leftMenu-wrap .navList > li .depth2 li a{display:flex; justify-content: flex-start; align-items: center; height: 35px; font-size: 15px; color: #888; padding: 0 8px;}

.admin-leftMenu-wrap .navList > li .depth2 li.on a{background: #d8a31e; color: #fff; border-radius: 5px;}
.admin-leftMenu-wrap .navList > li .depth2 li:hover a{background: #d8a31e; color: #fff; border-radius: 5px;}


.admin-leftMenu-wrap .navList > li.actived{padding-bottom: 20px;}

.admin-leftMenu-wrap .navList > li.on a span, .admin-leftMenu-wrap .navList > li:hover a span{color: #b58408;}
.admin-leftMenu-wrap .navList > li.on a i, .admin-leftMenu-wrap .navList > li:hover a i{color: #b58408;}


.admin-leftMenu-wrap.foldMenu .navList > li{border-bottom:none; position:relative;}
.admin-leftMenu-wrap.foldMenu .navList > li.actived{padding-bottom: 0px;}
.admin-leftMenu-wrap.foldMenu .navList > li > a {justify-content: center; padding: 20px 0;}
.admin-leftMenu-wrap.foldMenu .navList > li:first-child > a {}
.admin-leftMenu-wrap.foldMenu .navList > li > a span{display:none;}
.admin-leftMenu-wrap.foldMenu .navList > li > a i{font-size: 20px;}
.admin-leftMenu-wrap.foldMenu .navList > li.hasDep2 > a:after{display:none;}

.admin-leftMenu-wrap.foldMenu .navList > li .depth2{position:absolute;top:0; right:calc(-2vw - 185px); width: 180px; border:1px solid #d8a31e; border-radius: 5px; overflow: hidden;}
.admin-leftMenu-wrap.foldMenu .navList > li .depth2 li.depTitle{background: #d8a31e; color: #fff; height:45px; display:flex; justify-content: flex-start; align-items: center; padding:0 10px; font-size: 16px; font-weight: 500;}
.admin-leftMenu-wrap.foldMenu .navList > li .depth2 li a{height: 45px; color: #666; padding: 0 10px;}
.admin-leftMenu-wrap.foldMenu .navList > li .depth2 li.actived a{border-radius: 0; background: #fcf9ef; color: #b58408;}
.admin-leftMenu-wrap.foldMenu .navList > li .depth2 li:hover a{border-radius: 0; background: #fcf9ef; color: #b58408;}
.admin-leftMenu-wrap.foldMenu .navList > li .depth2 li.on a{border-radius: 0; background: #fcf9ef; color: #b58408;}


.admin-leftMenu-wrap .admin-logoutBtn{height:45px; position:absolute; bottom:30px; left:2vw; width:calc(100% - 4vw);}
.admin-leftMenu-wrap .admin-logoutBtn span{color: #666; font-size: 15px;}
.admin-leftMenu-wrap .admin-logoutBtn i{color: #aaa; font-size: 15px; display:none;}

.admin-leftMenu-wrap.foldMenu .admin-logoutBtn{height: 45px; width: 45px; left:50%; transform: translateX(-50%);}
.admin-leftMenu-wrap.foldMenu .admin-logoutBtn span{display:none;}
.admin-leftMenu-wrap.foldMenu .admin-logoutBtn i{display:block;}

.admin-leftMenu-wrap .admin-logoutBtn:hover{background: #d8a31e !important; border-color:#d8a31e}
.admin-leftMenu-wrap .admin-logoutBtn:hover span{color: #fff;}
.admin-leftMenu-wrap .admin-logoutBtn:hover i{color: #fff;}



/*컨텐츠*/
.admin{padding:30px 2vw; padding-left: calc(22vw + 20px); transition:padding .3s;}
.admin.foldAdmin{padding:30px 2vw; padding-left: calc(2vw + 120px); }

.admin .pageTitle-wrap{display:flex; justify-content: space-between; align-items: center; height:50px;}
.admin .pageTitle-wrap h3.title{color: #000;font-size: 30px; font-weight: 600; }


.admin .pageTitle-wrap ul.contentMenu {display:flex; justify-content: flex-end; align-items: center;}
.admin .pageTitle-wrap ul.contentMenu li a{font-size: 13px; color: #aaa;}
.admin .pageTitle-wrap ul.contentMenu li:last-child a{color: #666;}
.admin .pageTitle-wrap ul.contentMenu li a:after{content:''; display:inline-block;width: 2px;height: 2px; border-radius: 50%; background: #aaa; margin: -2px 6px 0; vertical-align: middle;}
.admin .pageTitle-wrap ul.contentMenu li:last-child a:after{display:none;}

.admin .pageTitle-wrap ul.contentMenu li a:hover{color: #666;}



































