<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/renew/layout}"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">

    <!--서브배너-->
    <div class="subBanner-wrap pc-subBanner">
        <img src="/renew/images/subBanner01.jpg" alt="회사소개">
        <p class="subMenu">회사소개</p>
    </div>
    <div class="subBanner-wrap m-subBanner">
        <img src="/renew/images/m_subBanner01.jpg" alt="회사소개">
        <p class="subMenu">회사소개</p>
    </div>
    <!--컨텐츠 영역-->
    
    <div class="subCont aboutWrap">

        <!--230116 수정사항 start-->
        <div class="auto mt120">
            <div class="aboutWrap mt120">
                <div class="titleWrap">
                    <p class="title"><span class="blue">트래블 인천협동조합</span>은?</p>
                    <p class="text">인천 시민이 함께 만드는 여행사</p>
                </div>

                <div class="textWrap">
                    <div class="imgWrap">
                        <img src="/renew/images/mainImg04.jpg" alt="트래블 인천협동조합은?">
                    </div>
                    <ul class="iconText">
                        <li><span class="icon"></span><p>소비자의 변화와 니즈를 반영하여 <span class="blue">친환경 여행상품 구성으로 ESG 경영</span>을 실천합니다.</p></li>
                        <li><span class="icon"></span><p>아날로그의 감성과 디지털을 융합한 <span class="blue">하이브리드 인-아웃바운드 여행사</span>를 추구합니다.</p></li>
                        <li><span class="icon"></span><p>협동조합의 기본 원칙을 준수하고 <span class="blue">사회적 가치를 실천하는 여행사</span>가 되겠습니다.</p></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="subCont businessWrap mt120">
            <div class="titleWrap">
                <p class="title">BUSINESS</p>
            </div>
            <ul class="iconWrap">
                <li>
                    <span class="icon"></span>
                    <p class="tit">종합 여행업</p>
                    <p class="info">국내·외 여행업 및 환승객 투어</p>
                </li>
                <li>
                    <span class="icon"></span>
                    <p class="tit">가상투어 제작</p>
                    <p class="info">VR 콘텐츠 제작 운영</p>
                </li>
                <li>
                    <span class="icon"></span>
                    <p class="tit">인터넷 신문</p>
                    <p class="info">인천 스마트 관광 신문</p>
                </li>

                <li>
                    <span class="icon"></span>
                    <p class="tit">여행자 보험</p>
                    <p class="info">국내·외 여행 여행자보험</p>
                </li>
            </ul>
        </div>

        <!--230116 수정사항 end-->

        <div class="auto mt120">
            <!--
            <div class="subTitleWrap">
                <span class="blue">TRAVEL INCHEON</span>
                <P class="title">트래블인천 협동조합은</P>
            </div>
            -->
            
            <div class="textWrap">
                <div class="imgWrap">
                    <img src="/renew/images/aboutImg.jpg" alt="회사소개">
                </div>
                <ul class="aboutList">
                    <li>우리는 <span class="blue"> 최고 전문가</span>들이 모였습니다.</li>
                    <li>우리는 <span class="blue"> 뻔한 상품을 만들지 않습니다.</span></li>
                    <li>우리는 새로움을 넘어 <span class="blue"> 특별함을 창조</span>합니다.</li>
                    <li>우리는 지역 사회를 위해 <span class="blue"> 사회적 가치를 추구</span>합니다.</li>
                    <li>우리는 <span class="blue"> ESG 경영</span>을 실천합니다.</li>
                </ul>
            </div>
        </div>

        <div class="orgWrap mt120">
           <div class="orgInner auto">
               <img src="/renew/images/aboutImg02.png" alt="회사 조직도" class="pc-img">
               <img src="/renew/images/aboutImg02_m.png" alt="회사 조직도" class="m-img">
           </div>
            
        </div>
        
        <div class="auto historyWrap mt120">
           
            <div class="subTitleWrap">
                <span class="blue">HISTORY</span>
                <p class="title">회사 연혁</p>
            </div>
            <div class="historyChart">
                <div class="text leftTxt">
                   <div class="textInner">
                    <p class="date blue">2022.10</p>
                    <p class="info">인천시 청년 일자리 지원사업 선정 1명 채용</p>
                   </div>
                </div>
                <div class="text rightTxt">
                   <div class="textInner">
                    <p class="date blue">2022.09</p>
                    <p class="info">인천관광기업센터 디딤돌 프로젝트 선정</p>
                   </div>
                </div>
                <div class="text leftTxt">
                   <div class="textInner">
                    <p class="date blue">2022.07</p>
                    <p class="info">가천박물관 외 10여개 박물관 VR 투어 제작</p>
                   </div>
                </div>
                <div class="text rightTxt">
                   <div class="textInner">
                    <p class="date blue">2022.06</p>
                    <p class="info list">인천광역시박물관협의회 업무협약 </p>
                    <p class="info list">중소벤처기업연구원 드론교육 실시</p>
                   </div>
                </div>
                <div class="text leftTxt">
                   <div class="textInner">
                    <p class="date blue">2022.05</p>
                    <p class="info">인천관광공사 친환경교육여행 운영대행사 계약</p>
                   </div>
                </div>
                <div class="text rightTxt">
                   <div class="textInner">
                    <p class="date blue">2022.03</p>
                    <p class="info">인터넷신문 발간 (인천스마트관광신문)</p>
                   </div>
                </div>
                <div class="text leftTxt">
                   <div class="textInner">
                    <p class="date blue">2021.10</p>
                    <p class="info">설립인가</p>
                   </div>
                </div>
                <div class="text rightTxt">
                   <div class="textInner">
                    <p class="date blue">2021.09</p>
                    <p class="info">창립총회</p>
                   </div>
                </div>
            </div>
        </div>

        <div class="contactWrap mt120">
            <div class="auto">
                <div class="subTitleWrap">
                    <span class="blue">CONTACT US</span>
                    <p class="title">오시는 길</p>
                </div>
                
                
                <div class="mapWrap">
                    <!-- * 카카오맵 - 지도퍼가기 -->
                    <!-- 1. 지도 노드 -->
                    <div id="daumRoughmapContainer1674815243223" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                    <!--
                        2. 설치 스크립트
                        * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                    -->
                    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                    <!-- 3. 실행 스크립트 -->
                    <script charset="UTF-8">
                        new daum.roughmap.Lander({
                            "timestamp" : "1674815243223",
                            "key" : "2djfd",
                            "mapWidth" : "auto",
                            "mapHeight" : "auto"
                        }).render();
                    </script>


                    
                    <ul class="mapInfo">
                        <li>
                            <p class="tit">Address</p>
                            <p class="txt">인천광역시 연수구 센트럴로 313 송도씨워크인테라스한라 B동 604호</p>
                        </li>
                        <li>
                            <p class="tit">Tel</p>
                            <p class="txt">1688-7923</p>
                        </li>
                        <li>
                            <p class="tit">E-mail</p>
                            <p class="txt">travelincheon@naver.com</p>
                        </li>
                        <li>
                            <p class="tit">Time</p>
                            <p class="txt">평일 9:00 ~ 18:00 (점심 : 12:00 ~ 13:00 / 주말 및 공휴일 휴무)</p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    <!--제휴업체-->
    <div class="auto familySite  pc-familySite">
       <ul class="list">
           <li><a href="https://www.ito.or.kr/" target="_blank"><img src="/renew/images/partnership01.png" alt="인천관광공사"></a></li>
           <li><a href="https://www.ice.go.kr/main.do?s=ice" target="_blank"><img src="/renew/images/partnership02.png" alt="인천광역시교육청"></a></li>
           <li><a href="https://www.slc.or.kr/main.do" target="_blank"><img src="/renew/images/partnership03.png" alt="수도권매립지관리공사"></a></li>
           <li><a href="https://www.eco-i.or.kr/main/main.asp" target="_blank"><img src="/renew/images/partnership04.png" alt="인천환경공단"></a></li>
           <li><a href="http://schooltrip.co.kr/" target="_blank"><img src="/renew/images/partnership05.png" alt="스쿨트립"></a></li>
       </ul>
   </div>
    <div class="swiper mFamily m-familySite">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a href="https://www.ito.or.kr/" target="_blank"><img src="/renew/images/partnership01.png" alt="인천관광공사"></a></li>
            <li class="swiper-slide"><a href="https://www.ice.go.kr/main.do?s=ice" target="_blank"><img src="/renew/images/partnership02.png" alt="인천광역시교육청"></a></li>
            <li class="swiper-slide"><a href="https://www.slc.or.kr/main.do" target="_blank"><img src="/renew/images/partnership03.png" alt="수도권매립지관리공사"></a></li>
            <li class="swiper-slide"><a href="https://www.eco-i.or.kr/main/main.asp" target="_blank"><img src="/renew/images/partnership04.png" alt="인천환경공단"></a></li>
            <li class="swiper-slide"><a href="http://schooltrip.co.kr/" target="_blank"><img src="/renew/images/partnership05.png" alt="스쿨트립"></a></li>
        </ul>
<!--
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
-->
    </div>
    <!--script START-->
    <script>  var swiper = new Swiper(".mFamily", {
        slidesPerView: "auto",
        spaceBetween: 30,
        loop:true,
        centeredSlides: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
    </script>
    <!--script END-->
</div>
</html>