<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/renew/layout}"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <!--컨텐츠 영역-->

    <div class="subCont mypageWrap inq-viewWrap  ">
        <div class="pt120 pb120 auto inqTableWrap">
            <div class="subTitleWrap">
                <span class="blue">INQUIRY</span>
                <p class="title">제작문의</p>

                <p class="text">문의사항을 남겨주시면 친절하게 답변해드리겠습니다.</p>
            </div>

            <div class="page-tableBox">
                <table class="page-table2">
                    <colgroup>
                        <col style = "width:20%">
                        <col style = "width:80%">
                    </colgroup>
                    <tr>
                        <th>신청자 성함</th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th>서비스형태</th>
                        <td id="serviceType"></td>
                    </tr>
                    <!--<tr>
                        <th>상호명</th>
                        <td id="businessName"></td>
                    </tr>-->
                    <tr>
                        <th>업종</th>
                        <td id="businessType"></td>
                    </tr>
                    <tr>
                        <th>평수</th>
                        <td id="area"></td>
                    </tr>
                    <!--<tr>
                        <th>추가요청</th>
                        <td id="option"></td>
                    </tr>-->
                    <tr>
                        <th>연락처</th>
                        <td id="tel"></td>
                    </tr>
                    <!--<tr>
                        <th>이메일</th>
                        <td id="email"></td>
                    </tr>-->
                    <tr>
                        <th>주소</th>
                        <td id="address"></td>
                    </tr>
                    <!--<tr>
                        <th>내용</th>
                        <td id="content"></td>
                    </tr>-->
                </table>
            </div>
            <div id="answer" class="answerWrap"></div>

            <div class="page-btn">
                <a href="/mypage" class="comm-btn black-btn mr10">목록</a>
                <a id="update" class="comm-btn blue-btn" style="cursor: pointer">수정하기</a>
            </div>
        </div>
    </div>
    <!--script START-->
    <script>
        let inquirySeq = window.location.pathname.split('/')[3];
        let answerChk = false;
        getInquiryDetails(inquirySeq);

        function getInquiryDetails(inquirySeq) {
            $.ajax({
                type:"get",
                url:"/api/user/inquiry/" + inquirySeq,
                success:function(data) {
                    console.log(data);
                    for(let key in data) {
                        if(key!="createDate") {
                            $("#"+key).html(data[key]);
                        }

                        if(key=="content") {
                            let content = data[key];
                            if(content!=null && content!='') {
                                content = content.replace(/\r\n/ig, '<br>');
                                content = content.replace(/\\n/ig, '<br>');
                                content = content.replace(/\n/ig, '<br>');
                            }
                            $("#content").html(content);
                        }

                        if(key=="answer") {
                            if(data[key]=="" || data[key]==null) {
                                $("#answer").addClass("d-none");
                            }else {
                                let answer = data[key];
                                answer = answer.replace(/\r\n/ig, '<br>');
                                answer = answer.replace(/\\n/ig, '<br>');
                                answer = answer.replace(/\n/ig, '<br>');
                                $("#answer").html(answer);
                                answerChk=true;
                            }
                        }
                    }
                },
                error: function (request, status, error) {
                    toastModal("잘못된 접근입니다.");
                    setTimeout(() => history.back(), 700);
                    console.log(request.status + ' ' + error.statusText + ' ' + request.responseText);
                }
            })
        }

        $("#update").on("click", ()=>{
            if(answerChk) {
                toastModal("답변이 완료된 게시글은 수정할 수 없습니다.");
                return;
            }
            location.href="/mypage/inquiry/update/"+inquirySeq;
        });
    </script>
    <!--script END-->
</div>

</html>