<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/renew/layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
    .modal .modal-inners {
        width:900px;
    }

</style>

<div layout:fragment="content">
    <!--서브배너-->
    <div class="subBanner-wrap pc-subBanner">
        <img src="/renew/images/subBanner03.jpg" alt="여행자보험">
        <p class="subMenu">여행자 보험</p>
    </div>
    <div class="subBanner-wrap m-subBanner">
        <img src="/renew/images/m_subBanner03.jpg" alt="여행자보험">
        <p class="subMenu">여행자 보험</p>
    </div>
    <!--컨텐츠 영역-->

    <div class="subCont inquiryWrap insuranceWrap">
        <div class="pt120 pb120">
            <div class="subTitleWrap auto">
                <span class="blue">TRAVEL INSURANCE</span>
                <p class="title">여행자 보험 가입 양식</p>

                <p class="text">아래의 내용을 정확하게 작성해 주시면 짧은 시간안에 귀하에게 연락드리겠습니다.</p>
            </div>


            <div class="tableWrap">
                <!--
                              <div class="nUser">
                                  <p class="title">단체명</p>
                                  <div class="inputWrap"><input type="text"></div>
                              </div>
                              <div class="nUser">
                                  <p class="title">담당자</p>
                                  <div class="inputWrap"><input type="text"></div>
                              </div>
                              <div class="nUser">
                                  <p class="title">연락처</p>
                                  <div class="inputWrap"><input type="number"></div>
                              </div>
                              <div class="nUser">
                                  <p class="title">이메일</p>
                                  <div class="inputWrap"><input type="text"></div>
                              </div>
                -->
                <div>
                    <p class="title">가입 단체명 또는 여행사명</p>
                    <div class="inputWrap"><input type="text" id="name"></div>
                </div>
                <div>
                    <p class="title">연락처</p>
                    <div class="inputWrap">
                        <input type="text" id="tel" placeholder="-없이 입력해주세요."
                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                </div>
                <div>
                    <p class="title">국내여행인가요? 해외여행인가요?</p>
                    <div class="inputWrap checkWrap radioWrap">
                        <label for="trv1" class="insA">
                            <input type="radio" id="trv1" class="domestic" name="trv" value="domestic">국내여행
                        </label>
                        <label for="trv2" class="insB">
                            <input type="radio" id="trv2" class="abroad" name="trv" value="abroad">해외여행
                        </label>
                        <a href="#" class="insuModal-btn comm-btn blue-btn cupoint" style="margin-left:10px;padding:0 10px; height:38px; font-size:14px;" >여행자 보험 가격표 보기</a>
                    </div>
                </div>
                <div class="insuranceA">
                    <p class="title">국내여행인 경우 (사망 1억원 보장)</p>
                    <div class="inputWrap checkWrap">
                        <label for="trvT11">
                            <input type="radio" id="trvT11" name="trvT1" value="A1">A1
                        </label>
                        <label for="trvT12">
                            <input type="radio" id="trvT12" name="trvT1" value="A2">A2
                        </label>
                        <label for="trvT13">
                            <input type="radio" id="trvT13" name="trvT1" value="A3">A3
                        </label>
                    </div>
                </div>
                <div class="insuranceB">
                    <p class="title">해외여행인 경우 (사망 1억원 보장)</p>
                    <div class="inputWrap checkWrap">
                        <label for="trvT21">
                            <input type="radio" id="trvT21" name="trvT2" value="B1">B1
                        </label>
                        <label for="trvT22">
                            <input type="radio" id="trvT22" name="trvT2" value="B2">B2
                        </label>
                        <label for="trvT23">
                            <input type="radio" id="trvT23" name="trvT2" value="B3">B3
                        </label>
                    </div>
                </div>
                <div>
                    <p class="title">출발 날짜</p>
                    <div class="inputWrap">
                        <div class="datepickerWrap">
                            <input type="text" id="datepicker1">
                        </div>
                    </div>
                </div>
                <div>
                    <p class="title">귀국 날짜</p>
                    <div class="inputWrap">
                        <div class="datepickerWrap">
                            <input type="text" id="datepicker2">
                        </div>
                    </div>
                </div>
                <div>
                    <p class="title">가입 인원은 몇명인가요?</p>
                    <div class="inputWrap"><input type="text" id="joinNumber" placeholder="숫자만 입력해주세요." maxlength="3"
                                                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                </div>
                <div class="excel">
                    <p class="title">엑셀양식 입력</p>
                    <div class="inputWrap">
                        <ul id="formType" class="tabWrap tab">
                            <li formType="excel"><a href="#excel1" class="actived">엑셀업로드</a></li>
                            <li formType="self"><a href="#excel2">수기입력</a></li>
                        </ul>
                        <div class="excel1 mt10 tabCont actived" id="excel1">
                            <input type="text" placeholder="첨부파일을 업로드해주세요. xls만가능" id="fileName" readonly>
                            <a id="upload-btn" class="cupoint upload-btn" onclick="$('#file').click();">업로드</a>
                            <input type="file" id="file" accept=".xls" hidden>
                            <a href="/renew/images/보험가입양식.xls" class="cupoint file-down" download><i class="fa-regular fa-file"></i> 엑셀양식 다운받기</a>
                        </div>
                        <div class="excel2 mt10 tabCont" id="excel2">
                            <table class="excel-table page-table1">
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col style="width: 30%;">
                                    <col style="width: 60%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>이름</th>
                                    <th>주민등록번호</th>
                                </tr>
                                </thead>

                                <tbody id="selfListTbody">
                                <tr>
                                    <td class="rowNum"></td>
                                    <td><input type="text" placeholder="이름을 입력해주세요." class="name"></td>
                                    <td>
                                        <div class="excelBtn-wrap">
                                            <input type="text" placeholder="주민등록번호를 입력해주세요." class="jumin">

                                            <a class="cupoint remove-btn excelList-btn" title="삭제"><i
                                                    class="fa-solid fa-minus"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rowNum"></td>
                                    <td><input type="text" placeholder="이름을 입력해주세요." class="name"></td>
                                    <td>
                                        <div class="excelBtn-wrap">
                                            <input type="text" placeholder="주민등록번호를 입력해주세요." class="jumin">

                                            <a class="cupoint remove-btn excelList-btn" title="삭제"><i
                                                    class="fa-solid fa-minus"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rowNum"></td>
                                    <td><input type="text" placeholder="이름을 입력해주세요." class="name"></td>
                                    <td>
                                        <div class="excelBtn-wrap">
                                            <input type="text" placeholder="주민등록번호를 입력해주세요." class="jumin">

                                            <a class="cupoint add-btn excelList-btn" title="추가"><i
                                                    class="fa-solid fa-plus"></i></a>
                                            <a class="cupoint remove-btn excelList-btn" title="삭제"><i
                                                    class="fa-solid fa-minus"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="privacyWrap">
                <label for="privacy">
                    <div class="textWrap scroll-style">
                        <p>트래블인천을 운영하는 트래블인천협동조합(이하 "당사")는 "정보통신망 이용촉진 및 정보보호 등에 관한 법률"에 따라서 해당 법률을 준수하고 있습니다.<br>
                            “당사”는 개인정보보호법에 따라 "사용자"의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 "사용자"의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을
                            두고 있습니다.<br>
                            이후 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</p>

                        <p class="title">제1조. 개인정보의 처리 목적</p>
                        <p>
                            당사는 개인정보를 안전하게 보호하고, 권익에 침해되지 않도록 보관해야 한다는 방침에 따라 최선을 다해 노력하고 있습니다.<br>
                            개인정보는 회원가입, 원활한 고객상담, 유료서비스 등 제공을 위해 활용되며, 개인정보처리방침을 통해 당사가 어떤 정보를 수집하고, 수집한 정보를 어떻게 사용하며,
                            필요에 따라 누구와 이를 공유(‘위탁 또는 제공’)하며 이용목적을 달성한 정보를 언제, 어떻게 파기하는지 등 ‘개인정보보호’와 관련한 정보를 투명하게 제공하는 것을
                            목적으로 두고 있습니다.<br>
                            향후, 서비스 약관 변경 및 개인 정보 추가 수집 등 관련된 개인정보처리방침이 개정될 시에는 웹 사이트 공지사항 또는 메일을 통한 개별 안내를 통하여 개정된 내용을
                            알기 쉽게 공지할 것입니다.<br>

                        </p>
                        <p class="title">제2조. 개인정보의 수집항목 및 수집방법</p>
                        <p>
                            당사는 회원가입 또는 서비스 제공을 위해 회원의 개인정보를 수집하고 있으며, 수집하는 개인정보 항목에 따른 구체적인 수집항목 및 방법은 다음과 같습니다.
                        </p>

                        <p class="subTitle">1. 수집하는 개인정보의 항목</p>
                        <p>
                            a. 당사는 최초 회원 가입시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.<br>
                            • 필수항목 : 이메일 주소, 이름, 비밀번호<br>
                            • 선택항목 : 프로필 사진, 회사/단체 이름, 회사/단체 규모, 산업군, 부서, 유형(개인/기업/단체), 지역, 전화번호, 필드값 등<br>
                            b. 서비스 이용 과정이나 고객상담 과정에서 아래와 같은 정보들이 추가로 수집될 수 있습니다.<br>
                            • 거래정보 : 개인의 경우 생년월일(정기결제에 한함), 신용카드정보(신용카드번호, 유효기간, 비밀번호 앞 두 자리), 세금계산서 발행을 위한 회계 담당자
                            정보(이름, 연락처, 이메일주소) 등<br>
                            • 서비스 이용 정보 : 문의자 정보 (이름, 이메일 주소, 전화번호), 전화번호, IP 주소, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 브라우저
                            정보, 운영체제 정보(OS), 사용 기기 정보, MAC 주소, 방문 일시 등</p>

                        <p class="subTitle">2, 개인정보 수집방법</p>
                        <p>
                            a. 당사는 다음과 같은 방법으로 개인정보를 수집합니다.<br>
                            • 홈페이지, 서면양식, 전화, 이메일, 이벤트 응모, 팩스, 상담 툴<br>
                            • 파트너로부터의 제공
                        </p>
                        <p class="title">제3조. 개인정보의 수집 및 이용목적</p>
                        <p>당사는 회원가입을 통해서 수집한 회원님의 개인정보를 다음과 같은 목적에 따라서 활용함을 명시합니다.</p>
                        <p class="subTitle">1. 회원관리</p>
                        <p>a. 서비스 제공 및 개선, 개인식별, 이용약관 위반 회원에 대한 이용제한 조치, 서비스의 원활한 운영에 지장을 미치는 행위 및 서비스 부정이용 행위 제재, 가입의사
                            확인, 가입 및 가입횟수 제한, 만14세 미만 아동의 개인정보 수집 시 법정 대리인 동의여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리
                            등 민원처리, 고지사항 전달, 회원탈퇴 의사의 확인 등</p>
                        <p class="subTitle">2. 신규 서비스 개발 및 마케팅·광고에 활용</p>
                        <p>a. 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 자사 및 제휴 이벤트 정보 및 참여기회 제공,
                            광고성 정보 제공,접속빈도 파악, 회원의 서비스이용에 대한 통계 분석 등</p>

                        <p class="subTitle">3. 서비스 제공에 관한 계약 이행 및 유료서비스 제공에 따른 요금정산</p>
                        <p>a. 유료서비스 제공, 특정 맞춤 서비스 제공, 유료서비스 이용에 대한 과금, 구매 및 요금 결제, 본인인증, 물품배송 또는 청구서 등 발송, 요금 추심 등</p>
                        <p class="subTitle">4. 법적 증거로 활용</p>
                        <p>a. 법적 분쟁 시 증거자료 제출</p>

                        <p class="title">제4조. 개인정보 수집 동의</p>
                        <p>회원가입 시 회원님께서 충분히 개인정보취급방침을 확인할 수 있도록 표기하고, 동의한 이후에 가입할 수 있도록 환경을 조성합니다.<br>
                            회원가입을 완료한 모든 회원은 상기 모든 개인정보 수집 절차 및 이용 목적에 동의한 것으로 간주합니다.</p>
                        <p class="title">제 5조. 개인정보의 보유 및 이용 기간</p>
                        <p>
                            당사는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.<br>
                            각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.<br>
                            1. 계약 또는 청약철회 등에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률 시행령 제6조)<br>
                            2. 대금결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률 시행령 제6조)<br>
                            3. 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 (전자상거래 등에서의 소비자보호에 관한 법률 시행령 제6조)<br>
                            4. 표시·광고에 관한 기록: 6개월 (전자상거래 등에서의 소비자보호에 관한 법률 시행령 제6조)<br>
                            5. 웹사이트 방문기록: 3개월 (통신비밀보호법 시행령 제41조)<br>
                            6. 관련 법률에 그 근거가 없더라도, 기타 당사의 중대한 손실을 예방하거나, 범죄 및 소송 등을 위해 보관해야 하는 경우에는 개인정보를 보관할 수 있습니다.<br>
                            단, 그 목적을 달성하기 위한 최소한의 기간 및 항목만 보관합니다.<br>
                            a. 회원가입을 탈퇴한 경우 재가입 방지를 위한 식별정보<br>
                            b. 이용약관에 의해 부득이 회원에서 제명된 경우 거래거절을 위한 식별정보<br>
                            7. “당사”는 개인정보 유효기간제에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관 또는 파기하며, 분리 보관된 개인정보는 4년간 보관 후
                            지체 없이 파기합니다.<br>
                            이 분리 보관 또는 파기에 대해서는 위 1년의 기간 만료 30일 전까지 개인정보가 분리 보관 또는 파기된다는 사실, 기간 만료일, 파기되는 개인정보의 항목 등에
                            대하여 이메일로 해당 회원에게 통지합니다.
                        </p>

                        <p class="title">제 6조. 개인정보의 파기 절차 및 방법</p>
                        <p>당사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기 절차 및 방법은 다음과 같습니다.</p>
                        <p class="subTitle">1. 파기절차</p>
                        <p>a. "사용자"가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시
                            파기됩니다.
                            이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
                        <p class="subTitle">2. 파기방법</p>
                        <p>
                            a. 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.<br>
                            b. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
                        </p>

                        <p class="title"> 제7조. 개인정보 제공</p>

                        <p>당사는 "사용자"의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
                            1. "사용자"들이 사전에 동의한 경우<br>
                            2. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br>
                            3. 영업의 양도·합병 등에 관한 사유가 발생하는 경우(단, 당사는 영업의 양도 등에 관한 사유가 발생하여 "사용자"의 개인정보 이전이 필요한 경우,<br>
                            관계법률에서 규정한 절차와 방법에 따라 개인정보 이전에 관한 사실 등을 사전에 고지하며, "사용자"에게는 개인정보 이전에 관한 동의 철회권을 부여합니다.)<br>
                            4. 법령의 규정에 의거하거나, 수사 목적으로 사기관의 요구가 있는 경우
                        </p>
                        <p class="title">제 8조.개인정보 위탁</p>

                        <p>1. 당사는 위탁계약 체결 시 개인정보 보호법 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한
                            관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고,수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>
                            2. 본 개인정보처리방침에 따른 위탁업무의 내용이나 수탁자가 변경될 경우에 당사는 변경 사항을 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>

                        <p class="title"> 제9조. "사용자" 및 법정대리인의 권리와 그 행사방법</p>
                        <p>
                            1. "사용자" 및 법정대리인은 언제든지 등록되어 있는 자신 혹은 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며, 가입해지를 요청할 수도
                            있습니다.<br>
                            고객센터에 회원이 탈퇴 신청 메일을 보낼 경우 회원 본인임을 확인한 후 탈퇴 처리를 합니다.<br>
                            2. 당사는 "사용자"의 요청에 의해 해지 또는 삭제된 개인정보를 "사용자" 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보를 "제 5조 개인정보의 보유
                            및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br>
                            3. 법정대리인 등의 대리인을 통하여 제1항의 권리행사를 하는 경우 개인정보보호법 시행규칙 별표 제11호 서식에 따른 위임장을 제출하여야 합니다.<br>
                            4. 개인정보의 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 제한될 수 있고, 정정 및 삭제요구도 다른 법령에서 그 개인정보가
                            수집대상으로 명시되어 있는 경우 그 삭제를 요구할 수 없습니다.
                        </p>
                        <p class="title">제10조. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</p>

                        <p>트래블인천협동조합은 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.<br>
                            쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 "사용자"의 컴퓨터 브라우저에게 보내는 소량의 정보이며 "사용자"들의 PC 컴퓨터내의 하드디스크에 저장되기도
                            합니다.<br>
                            1. 쿠키의 사용 목적 : "사용자"가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 "사용자"에게 최적화된
                            정보 제공을 위해 사용됩니다.<br>
                            2. 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.<br>
                            3. 쿠키 저장을 거부할 경우 서비스 이용에 어려움이 발생할 수 있습니다.</p>

                        <p class="title">제11조. 개인정보의 안전성 확보 조치</p>

                        <p>
                            당사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
                        </p>
                        <p class="subTitle">1. 개인정보 취급 직원의 최소화 및 교육</p>
                        <p>a. 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
                        <p class="subTitle">2. 해킹 등에 대비한 기술적 대책</p>
                        <p>a. 당사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에
                            시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</p>
                        <p class="subTitle">3. 개인정보의 암호화</p>
                        <p>a. "사용자"의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금
                            기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
                        <p class="subTitle">4. 개인정보에 대한 접근 제한</p>
                        <p>a. 개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을
                            이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>

                        <p class="title">제12조. 개인정보 처리방침 변경 고지</p>
                        <p>상기 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 최소 7일 전부터 공지사항을 통하여
                            고지할 것입니다.</p>

                        <p class="title">제13조. 개인정보 관리 책임자 및 담당자</p>
                        <p>당사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고
                            있습니다.</p>
                        <p class="subTitle">1. 개인정보관리 담당부서 : 고객지원팀</p>
                        <p>a. 이메일: travelincheon@naver.com</p>

                        <p class="subTitle">2. 개인정보관리책임자</p>
                        <p>
                            성명: 김기중<br>
                            a. 전화번호: 1688-7923<br>
                            이메일: travelincheon@naver.com
                        </p>

                        <p>회원님은 당사 및 당사의 서비스(트래블인천협동조합)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자
                            및 담당부서로 문의하실 수 있습니다.</p>

                        <p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br>
                            • 개인정보 침해신고센터 (https://privacy.kisa.or.kr/kor/main.jsp / 국번없이 118)<br>
                            • 대검찰청 인터넷범죄수사센터 (http://www.spo.go.kr / 02-3480-2000)<br>
                            • 경찰청 사이버안전국(http://cyberbureau.police.go.kr / 국번없이 182)<br>
                        </p>


                        <p>본 정책은 2022년 4월 28일부터 시행됩니다.</p>

                    </div>

                    <div class="checkWrap"><input type="checkBox" id="privacy" name="privacy">개인정보 수집 이용에 동의합니다.</div>
                </label>
            </div>
            <div class="page-btn">
                <a class="cupoint comm-btn black-btn mr10" onclick="fnInsurance()">가입하기</a>
            </div>
            <!--<div class="page-btn">
                <a class="comm-btn black-btn" style="cursor: pointer;" onclick="fnInsurance()">가입하기</a>
            </div>-->

        </div>
    </div>

    <!--여행자보험 모달-->
    <div class="modal insuModal">
        <div class="modal-inner">
            <div class="modal-title">
                <p class="title">보험가입 가격표</p>
                <a href="#" class="close-btn"><i class="fa-solid fa-xmark close"></i></a>
            </div>
            <div class="modal-text">
                <p class="text" style="width:100%; height:425px; overflow-y: scroll;"><img src="/renew/images/insurance001.jpg"></p>
            </div>
            <div class="modal-btn">
                <a class="comm-btn grey-btn cupoint close-btn">닫기</a>
                <a href=href="/renew/images/DB_여행자보험_플랜표.xlsx" class="comm-btn blue-btn" style="margin-left: 1em;" download>가격표 다운받기</a>
            </div>
        </div>
        <div class="insu-modal-bg modal-bg"></div>
    </div>

    <!--가입요청 모달-->
    <div class="modal joinModal">
        <div class="modal-inner">
            <div class="modal-text">
                <p class="title">
                    로그인이 필요한 페이지입니다.
                </p>
                <p class="text">로그인 또는 회원가입 후 작성해주시기 바랍니다.</p>
            </div>
            <div class="modal-btn">
                <a class="comm-btn grey-btn cupoint" onclick="history.back();">돌아가기</a>
                <a href="/login" class="comm-btn blue-btn" style="margin-left: 1em;">로그인 하기</a>
            </div>
        </div>
        <div class="join-modal-bg"></div>
    </div>

    <!--script START-->
    <script>
        let uploadFile;
        let formType = "excel";

        $("#formType").on("click", "li", function () {
            formType = $(this).attr("formType");
        });

        // if (!chkLogin) {
        //     $(".joinModal").css("display", "block");
        // }
        fnRowNum();

        function fnInsurance() {
            let name = $('#name').val();
            let tel = $("#tel").val();
            let travelType = $('input[name="trv"]:checked').val();
            let insuranceType;
            if (travelType == "domestic") {
                travelType = "국내여행";
                insuranceType = $('input[name="trvT1"]:checked').val();
            } else if (travelType == "abroad") {
                travelType = "해외여행";
                insuranceType = $('input[name="trvT2"]:checked').val();
            }
            let departureDate = $("#datepicker1").val();
            let returnDate = $("#datepicker2").val();
            let joinNumber = $("#joinNumber").val();

            if (name == "") {
                toastModal("가입 단체명 또는 여행사명을 입력해주세요");
                $("#name").focus();
                return;
            }
            if (tel == "") {
                toastModal("연락처를 입력해주세요");
                $("#tel").focus();
                return;
            }
            if (travelType == "" || travelType == undefined || travelType == null) {
                toastModal("여행 종류를 선택해주세요");
                return;
            }
            if (insuranceType == "" || insuranceType == undefined || insuranceType == null) {
                toastModal("보장 등급을 선택해주세요");
                return;
            }
            if (departureDate == "") {
                toastModal("출국 날짜를 선택해주세요");
                $("#datepicker1").focus();
                return;
            }
            if (returnDate == "") {
                toastModal("귀국 날짜를 선택해주세요");
                $("#datepicker2").focus();
                return;
            }
            if (joinNumber == "") {
                toastModal("가입 인원을 입력해주세요");
                $("#joinNumber").focus();
                return;
            }

            let today = new Date();
            let numDepartureDate = new Date(departureDate);
            let numReturnDate = new Date(returnDate);

            if (today >= numDepartureDate) {
                toastModal("출발 날짜는 오늘 이후로 선택해주세요");
                return;
            }
            if (today >= numReturnDate) {
                toastModal("귀국 날짜는 오늘 이후로 선택해주세요");
                return;
            }
            if (numDepartureDate >= numReturnDate) {
                toastModal("출발 날짜는 귀국 날짜 이전으로 선택해주세요");
                return;
            }

            let objInsurance = {
                "name": name,
                "tel": tel,
                "travelType": travelType,
                "insuranceType": insuranceType,
                "departureDate": departureDate,
                "returnDate": returnDate,
                "joinNumber": joinNumber
            }
            objInsurance = JSON.stringify(objInsurance);

            if (!$("#privacy").prop("checked")) {
                toastModal("개인정보 수집 이용에 동의해주세요");
                $("#privacy").focus();
                return;
            }

            let formData = new FormData();
            formData.append("content", objInsurance);


            formData.append("formType", formType);

            // 엑셀업로드 시
            if(formType=="excel") {
                if(uploadFile==null || uploadFile==undefined || uploadFile=="") {
                    toastModal("엑셀 파일을 업로드 해주세요");
                    return;
                }
                formData.append("excel", uploadFile);
            }

            // 수기입력 시
            if(formType=="self") {
                let objApplicant = new Object();
                let nameCnt = 1;
                $("#selfListTbody .name").each(function() {
                    if($(this).val()=="") {
                        objApplicant = new Object();
                        return false;
                    }else {
                        objApplicant["name"+nameCnt] = $(this).val();
                        nameCnt++;
                    }
                });
                let juminCnt = 1;
                $("#selfListTbody .jumin").each(function() {
                    if($(this).val()=="") {
                        objApplicant = new Object();
                        return false;
                    }else {
                        objApplicant["jumin"+juminCnt] = $(this).val();
                        juminCnt++;
                    }
                });

                if(Object.keys(objApplicant).length==0) {
                    toastModal("빈칸을 모두 채워주시기 바랍니다.");
                    return;
                }

                objApplicant = JSON.stringify(objApplicant);
                formData.append("applicant", objApplicant);
            }

            $.ajax({
                type: "post",
                url: "/api/user/form",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastModal("여행자 보험 가입 문의가 등록되었습니다.");
                    setTimeout(() => location.href = "/", 1000);
                },
                error: function (request, status, error) {
                    console.log(request.status + ' ' + error.statusText + ' ' + request.responseText);
                }
            });

        }

        // 엑셀 파일 첨부 시
        $("#file").on("change", function () {
            uploadFile = $("#file")[0].files[0];
            let files = $("#file")[0].files;
            if (files.length > 0) {
                let fileName = uploadFile.name;
                $("#fileName").val(fileName);
            } else {
                $("#fileName").val("");
            }
        });

        // 수기 입력 행 수에 맞게 순번 넣기
        function fnRowNum() {
            let rowNum = 1;
            $(".rowNum").each(function () {
                $(this).text(rowNum);
                rowNum++;
            });
        }

        /** 수기 입력 +,- 버튼 클릭 시 **/
        // + 버튼 클릭 시
        $("#selfListTbody").on("click", ".add-btn", function () {
            let addTag = '<tr>' +
                '<td class="rowNum"></td>' +
                '<td><input type="text" placeholder="이름을 입력해주세요." class="name"></td>' +
                '<td>' +
                '<div class="excelBtn-wrap">' +
                '<input type="text" placeholder="주민등록번호를 입력해주세요." class="jumin">' +
                '<a class="cupoint add-btn excelList-btn" title="추가"><i class="fa-solid fa-plus"></i></a>' +
                '<a class="cupoint remove-btn excelList-btn" title="삭제"><i class="fa-solid fa-minus"></i></a>' +
                '</div>' +
                '</td>' +
                '</tr>';
            $("#selfListTbody").append(addTag);
            $(this).remove();
            fnRowNum();
        });

        // - 버튼 클릭 시
        $("#selfListTbody").on("click", ".remove-btn", function () {
            if($(".rowNum").length==1) {
                toastModal("수기입력 시 1명 이상 입력은 필수 입니다");
                return;
            }

            $(this).parent().parent().parent().remove();
            let btnCnt = $("#selfListTbody tr:last-child td:last-child .excelBtn-wrap .excelList-btn").length;
            if (btnCnt == 1) {
                $("#selfListTbody tr:last-child td:last-child .excelBtn-wrap .remove-btn").remove();
                let tag = '<a class="cupoint add-btn excelList-btn" title="추가"><i class="fa-solid fa-plus"></i></a>' +
                    '<a class="cupoint remove-btn excelList-btn" title="삭제"><i class="fa-solid fa-minus"></i></a>';
                $("#selfListTbody tr:last-child td:last-child .excelBtn-wrap").append(tag);
            }
            fnRowNum();
        });


        $('.insuModal-btn').click(function(){
            $('.insuModal').css('display','block');
            event.preventDefault();
        });
    </script>
    <!--script END-->
</div>
</html>