<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>트레블 인천</title>
</head>
<body>
<script th:inline="javascript">
	window.onload = function(){
		var nextPage = [[@{__${nextPage}__}]], msg = [[${msg}]];
		if(nextPage) {
			alert(msg);
			location.href = nextPage;
		}
	}
</script>
</body>
</html>