<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>트래블인천</title>
</head>
<body>
<script th:inline="javascript">
    window.onload = function () {
        alert("관리자에 의해 더 이상 사용할 수 없는 계정입니다.");
        location.href = "/";
    }
</script>
</body>
</html>