/* 잇슈 css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow-y: scroll;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color:#666;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
button{
    cursor: pointer;
}


p,a,h1,h2,h3,h4,h5,h6{
    transform: skew(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, select, textarea{outline: none; resize: none; }

.ck-editor__editable {min-height: 300px;}
.ck.ck-editor{width: 100%;}

.bold{font-weight: 500;}
.blue{color:#2969b0}
.s-blue{color:#00b6ee}
.red{color:#ef3a3a}

.d-none{display:none;}
.jc-center{justify-content: center !important;}
.w100pro{width: 100% !important;}

/*폰트 굵기*/
.fw100{
    font-weight: 100;
}
.fw200{
    font-weight: 200;
}
.fw300{
    font-weight: 300;
}
.fw400{
    font-weight: 400;
}
.fw500{
    font-weight: 500;
}
.fw600{
    font-weight: 600;
}
.fw700{
    font-weight: 700;
}
.fw800{
    font-weight: 800;
}
.fw900{
    font-weight: 900;
}

/*너비 %*/
.w100pro{
    width: 100%;
}
.w98pro{
    width: 98%;
}
.w95pro{
    width: 95%;
}
.w93pro{
    width: 93%;
}
.w90pro{
    width: 90%;
}
.w85pro{
    width: 85%;
}
.w83pro{
    width: 83%;
}
.w80pro{
    width: 80%;
}
.w75pro{
    width: 75%;
}
.w70pro{
    width: 70%;
}
.w68pro{
    width: 68%;
}
.w67-dot-5pro{
    width: 67.5%;
}
.w67pro{
    width: 67%;
}
.w66pro{
    width: 66%;
}
.w65pro{
    width: 65%;
}
.w64pro{
    width: 64%;
}
.w62pro{
    width: 62%;
}
.w61pro{
    width: 61%;
}
.w60pro{
    width: 60%;
}
.w55pro{
    width: 55%;
}
.w54pro{
    width: 54%;
}
.w53pro{
    width: 53%;
}
.w50pro{
    width: 50%;
}
.w48-dot-5pro{
    width: 48.5%;
}
.w48pro{
    width: 48%;
}
.w47-dot-8pro{
    width: 47.8%;
}
.w47-dot-5pro{
    width: 47.5%;
}
.w47pro{
    width: 47%;
}
.w45pro{
    width: 45%;
}
.w44pro{
    width: 44%;
}
.w43pro{
    width: 43%;
}
.w42pro{
    width: 42%;
}
.w41pro{
    width: 41%;
}
.w40pro{
    width: 40%;
}
.w38pro{
    width: 38%;
}
.w35pro{
    width: 35%;
}
.w34pro{
    width: 34%;
}
.w33pro{
    width: 33%;
}
.w30pro{
    width: 30%;
}
.w25pro{
    width: 25%;
}
.w20pro{
    width: 20%;
}
.w18pro{
    width: 18%;
}
.w15pro{
    width: 15%;
}
.w12pro{
    width: 12%;
}
.w10pro{
    width: 10%;
}
.w8pro{
    width: 8%;
}
.w5pro{
    width: 5%;
}



/*너비 px*/
.w500px{
    width: 500px;
}
.w480px{
    width: 480px;
}
.w450px{
    width: 450px;
}
.w400px{
    width: 400px;
}
.w355px {
    width: 355px;
}
.w350px {
    width: 350px;
}
.w300px{
    width: 300px;
}
.w200px{
    width: 200px;
}
.w150px {
    width: 150px;
}
.w130px{
    width: 130px;
}
.w120px{
    width: 120px;
}
.w100px{
    width: 100px;
}
.w95px{
    width: 95px;
}
.w90px{
    width: 90px;
}
.w85px{
    width: 85px;
}
.w80px{
    width: 80px;
}
.w75px{
    width: 75px;
}
.w70px{
    width: 70px;
}
.w65px{
    width: 65px;
}
.w60px{
    width: 60px;
}
.w55px{
    width: 55px;
}
.w50px{
    width: 50px;
}
.w45px{
    width: 45px;
}
.w40px{
    width: 40px;
}
.w35px{
    width: 35px;
}
.w30px{
    width: 30px;
}
.w25px{
    width: 25px;
}
.w20px{
    width: 20px;
}
.w15px{
    width: 15px;
}
.w10px{
    width: 10px;
}
.w5px{
    width: 5px;
}



/*padding(em)*/
.pa-dot5em{
    padding: 0.5em;
}
.pa-1em{
    padding: 1em;
}
.pa-1dot5em{
    padding: 1.5em;
}
.pa-2em{
    padding: 2em;
}

.pa-tb-dot5em{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.pa-tb-1em{
    padding-top: 1em;
    padding-bottom: 1em;
}
.pa-tb-1dot5em{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.pa-tb-2em{
    padding-top: 2em;
    padding-bottom: 2em;
}

.pa-t-dot5em{
    padding-top: 0.5em;
}
.pa-t-1em{
    padding-top: 1em;
}
.pa-t-1dot5em{
    padding-top: 1.5em;
}
.pa-t-2em{
    padding-top: 2em;
}

.pa-b-dot5em{
    padding-bottom: 0.5em;
}
.pa-b-1em{
    padding-bottom: 1em;
}
.pa-b-1dot5em{
    padding-bottom: 1.5em;
}
.pa-b-2em{
    padding-bottom: 2em;
}

.pa-lrtb-dot5em-1em{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.pa-lr-dot5em{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pa-lr-1em{
    padding-left: 1em;
    padding-right: 1em;
}
.pa-lr-1dot5em{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.pa-lr-2em{
    padding-left: 2em;
    padding-right: 2em;
}

.pa-l-dot5em{
    padding-left: 0.5em;
}
.pa-l-1em{
    padding-left: 1em;
}
.pa-l-1dot5em{
    padding-left: 1.5em;
}
.pa-l-2em{
    padding-left: 2em;
}

.pa-r-dot5em{
    padding-right: 0.5em;
}
.pa-r-1em{
    padding-right: 1em;
}
.pa-r-1dot5em{
    padding-right: 1.5em;
}
.pa-r-2em{
    padding-right: 2em;
}



/*padding (px)*/
.pa-3px{
    padding: 3px;
}
.pa-4px{
    padding: 4px;
}
.pa-6px{
    padding: 6px;
}
.pa-8px{
    padding: 8px;
}
.pa-10px{
    padding: 10px;
}
.pa-15px{
    padding: 15px;
}
.pa-20px{
    padding: 20px;
}
.pa-30px{
    padding: 30px;
}
.pa-40px{
    padding: 40px;
}
.pa-50px{
    padding: 50px;
}
.pa-60px{
    padding: 60px;
}
.pa-70px{
    padding: 70px;
}
.pa-80px{
    padding: 80px;
}
.pa-90px{
    padding: 90px;
}
.pa-100px{
    padding: 100px;
}

.pa-t-2px{
    padding-top: 2px;
}
.pa-t-4px{
    padding-top: 4px;
}
.pa-t-6px{
    padding-top: 6px;
}
.pa-t-8px{
    padding-top: 8px;
}
.pa-t-10px{
    padding-top: 10px;
}
.pa-t-15px{
    padding-top: 15px;
}
.pa-t-20px{
    padding-top: 20px;
}
.pa-t-30px{
    padding-top: 30px;
}

.pa-b-2px{
    padding-bottom: 2px;
}
.pa-b-4px{
    padding-bottom: 4px;
}
.pa-b-6px{
    padding-bottom: 6px;
}
.pa-b-8px{
    padding-bottom: 8px;
}
.pa-b-10px{
    padding-bottom: 10px;
}
.pa-b-15px{
    padding-bottom: 15px;
}
.pa-b-20px{
    padding-bottom: 20px;
}
.pa-b-30px{
    padding-bottom: 30px;
}
.pa-b-40px{
    padding-bottom: 40px;
}

.pa-l-4px{
    padding-left: 4px;
}
.pa-l-6px{
    padding-left: 6px;
}
.pa-l-8px{
    padding-left: 8px;
}
.pa-l-10px{
    padding-left: 10px;
}
.pa-l-15px{
    padding-left: 15px;
}
.pa-l-20px{
    padding-left: 20px;
}
.pa-l-30px{
    padding-left: 30px;
}
.pa-l-40px{
    padding-left: 40px;
}
.pa-l-50px{
    padding-left: 50px;
}
.pa-l-60px{
    padding-left: 60px;
}
.pa-l-70px{
    padding-left: 70px;
}
.pa-l-80px{
    padding-left: 80px;
}
.pa-l-90px{
    padding-left: 90px;
}
.pa-l-100px{
    padding-left: 100px;
}

.pa-r-4px{
    padding-right: 4px;
}
.pa-r-6px{
    padding-right: 6px;
}
.pa-r-8px{
    padding-right: 8px;
}
.pa-r-10px{
    padding-right: 10px;
}
.pa-r-15px{
    padding-right: 15px;
}
.pa-r-20px{
    padding-right: 20px;
}
.pa-r-30px{
    padding-right: 30px;
}
.pa-r-40px{
    padding-right: 40px;
}
.pa-r-50px{
    padding-right: 50px;
}
.pa-r-60px{
    padding-right: 60px;
}
.pa-r-70px{
    padding-right: 70px;
}
.pa-r-80px{
    padding-right: 80px;
}
.pa-r-90px{
    padding-right: 90px;
}
.pa-r-100px{
    padding-right: 100px;
}

/*왼쪽 오른쪽 패딩*/
.pa-lr-2px{
    padding-left: 2px;
    padding-right: 2px;
}
.pa-lr-4px{
    padding-left: 4px;
    padding-right: 4px;
}
.pa-lr-8px{
    padding-left: 8px;
    padding-right: 8px;
}
.pa-lr-10px{
    padding-left: 10px;
    padding-right: 10px;
}
.pa-lr-15px{
    padding-left: 15px;
    padding-right: 15px;
}
.pa-lr-16px{
    padding-left: 16px;
    padding-right: 16px;
}
.pa-lr-20px{
    padding-left: 20px;
    padding-right: 20px;
}
.pa-lr-30px{
    padding-left: 30px;
    padding-right: 30px;
}
.pa-lr-40px{
    padding-left: 40px;
    padding-right: 40px;
}

/*위아래 패딩*/
.pa-tb-2px{
    padding-top: 2px;
    padding-bottom: 2px;
}
.pa-tb-3px{
    padding-top: 3px;
    padding-bottom: 3px;
}
.pa-tb-4px{
    padding-top: 4px;
    padding-bottom: 4px;
}
.pa-tb-8px{
    padding-top: 8px;
    padding-bottom: 8px;
}
.pa-tb-10px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pa-tb-15px{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pa-tb-16px{
    padding-top: 16px;
    padding-bottom: 16px;
}
.pa-tb-20px{
    padding-top: 20px;
    padding-bottom: 16px;
}
.pa-tb-30px{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pa-tb-40px{
    padding-top: 40px;
    padding-bottom: 40px;
}



.auto{
    margin-left:auto;
    margin-right: auto;
}



/*margin -- em*/
.ma-t-0{
    margin-top: 0 !important;
}
.ma-t-dot5{
    margin-top: .5em;
}
.ma-t-dot8{
    margin-top: .8em;
}
.ma-t-1em{
    margin-top: 1em;
}
.ma-t-1dot5em{
    margin-top: 1.5em;
}
.ma-t-2em{
    margin-top: 2em;
}
.ma-t-3em{
    margin-top: 3em;
}
.ma-t-4em{
    margin-top: 4em;
}
.ma-t-6dot25{
    margin-top: 6.25em;
}
.ma-b-dot4{
    margin-bottom: .4em;
}
.ma-b-dot5{
    margin-bottom: .5em;
}
.ma-b-1em{
    margin-bottom: 1em;
}
.ma-b-2em{
    margin-bottom: 2em;
}
.ma-b-2dot5{
    margin-bottom: 2.5em;
}
.ma-b-3em{
    margin-bottom: 3em;
}
.ma-l-dot3{
    margin-left: .3em;
}

.ma-l-dot5{
    margin-left: .5em;
}
.ma-l-1em{
    margin-left: 1em;
}
.ma-r-dot3{
    margin-right: .3em;
}
.ma-r-dot5{
    margin-right: .5em;
}
.ma-r-1em{
    margin-right: 1em;
}
.ma-r-2em{
    margin-right: 2em;
}
.ma-r-3em{
    margin-right: 3em;
}



/*margin -- px*/
.ma-t-3px{
    margin-top: 3px;
}
.ma-t-4px{
    margin-top: 4px;
}
.ma-t-5px{
    margin-top: 5px;
}
.ma-t-8px{
    margin-top: 8px;
}
.ma-t-10px{
    margin-top: 10px;
}
.ma-t-15px{
    margin-top: 15px;
}
.ma-t-16px{
    margin-top: 16px;
}
.ma-t-20px{
    margin-top: 20px;
}
.ma-t-25px{
    margin-top: 25px;
}
.ma-t-30px{
    margin-top: 30px;
}
.ma-t-35px{
    margin-top: 35px;
}
.ma-t-40px{
    margin-top: 40px;
}
.ma-t-45px{
    margin-top: 45px;
}
.ma-t-50px{
    margin-top: 50px;
}
.ma-t-60px{
    margin-top: 60px;
}
.ma-t-80px{
    margin-top: 80px;
}
.ma-t-100px{
    margin-top: 100px;
}
.ma-t-120px{
    margin-top: 120px;
}
.ma-t-200px{
    margin-top: 200px;
}

.ma-b-4px{
    margin-bottom: 4px;
}
.ma-b-8px{
    margin-bottom: 8px;
}
.ma-b-10px{
    margin-bottom: 10px;
}
.ma-b-15px{
    margin-bottom: 15px;
}
.ma-b-16px{
    margin-bottom: 16px;
}
.ma-b-20px{
    margin-bottom: 20px;
}
.ma-b-25px{
    margin-bottom: 25px;
}
.ma-b-30px{
    margin-bottom: 30px;
}
.ma-b-35px{
    margin-bottom: 35px;
}
.ma-b-40px{
    margin-bottom: 40px;
}
.ma-b-45px{
    margin-bottom: 45px;
}
.ma-b-50px{
    margin-bottom: 50px;
}
.ma-b-60px{
    margin-bottom: 60px;
}
.ma-b-80px{
    margin-bottom: 80px;
}
.ma-b-100px{
    margin-bottom: 100px;
}
.ma-b-120px{
    margin-bottom: 120px;
}
.ma-b-200px{
    margin-bottom: 200px;
}


.ma-l-4px{
    margin-left: 4px;
}
.ma-b-5px{
    margin-bottom: 5px;
}
.ma-r-4px{
    margin-right: 4px;
}
.ma-t-4px{
    margin-top: 4px;
}
.ma-b-4px{
    margin-bottom: 4px;
}
.ma-l-6px{
    margin-left: 6px;
}
.ma-r-6px{
    margin-right: 6px;
}
.ma-t-6px{
    margin-top: 6px;
}
.ma-b-6px{
    margin-bottom: 6px;
}
.ma-l-8px{
    margin-left: 8px;
}
.ma-r-8px{
    margin-right: 8px;
}
.ma-l-10px{
    margin-left: 10px;
}
.ma-r-10px{
    margin-right: 10px;
}
.ma-l-15px{
    margin-left: 15px;
}
.ma-r-15px{
    margin-right: 15px;
}
.ma-l-20px{
    margin-left: 20px;
}
.ma-r-20px{
    margin-right: 20px;
}
.ma-l-30px{
    margin-left: 30px;
}
.ma-r-30px{
    margin-right: 30px;
}
.ma-l-40px{
    margin-left: 40px;
}
.ma-r-40px{
    margin-right: 40px;
}
.ma-l-50px{
    margin-left: 50px;
}
.ma-r-50px{
    margin-right: 50px;
}
.ma-l-60px{
    margin-left: 60px;
}
.ma-r-60px{
    margin-right: 60px;
}


/*위아래 margin*/
.ma-tb-4px{
    margin-top: 4px;
    margin-bottom: 4px;
}
.ma-tb-8px{
    margin-top: 8px;
    margin-bottom: 8px;
}
.ma-tb-10px{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ma-tb-16px{
    margin-top: 16px;
    margin-bottom: 16px;
}
.ma-tb-20px{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ma-tb-30px{
    margin-top: 30px;
    margin-bottom: 30px;
}
.ma-tb-40px{
    margin-top: 40px;
    margin-bottom: 40px;
}


/*좌우 margin*/
.ma-lr-1em{
    margin-left:1em;
    margin-right:1em;
}

.ma-lr-4px{
    margin-left: 4px;
    margin-right: 4px;
}
.ma-lr-8px{
    margin-left: 8px;
    margin-right: 8px;
}
.ma-lr-10px{
    margin-left: 10px;
    margin-right: 10px;
}
.ma-lr-16px{
    margin-left: 16px;
    margin-right: 16px;
}
.ma-lr-20px{
    margin-left: 20px;
    margin-right: 20px;
}
.ma-lr-30px{
    margin-left: 30px;
    margin-right: 30px;
}
.ma-lr-40px{
    margin-left: 40px;
    margin-right: 40px;
}




/*폰트 사이즈 px*/
.f-9{
    font-size: 9px;
}
.f-10{
    font-size: 10px;
}
.f-11{
    font-size: 11px;
}
.f-12{
    font-size: 12px;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.f-16{
    font-size: 16px;
}
.f-17{
    font-size: 17px;
}
.f-18{
    font-size: 18px;
}
.f-19{
    font-size: 19px;
}
.f-20{
    font-size: 20px;
}
.f-21{
    font-size: 21px;
}
.f-24{
    font-size: 24px;
}
.f-30{
    font-size: 30px;
}
.f-36{
    font-size: 36px;
}
.f-48{
    font-size: 48px;
}
.f-64{
    font-size: 64px;
}
.f-72{
    font-size: 72px;
}
.f-96{
    font-size: 96px;
}
.f-144{
    font-size: 144px;
}
.f-288{
    font-size: 288px;
}



/*폰트 사이즈(rem)*/
.fs12{
    font-size: 0.929rem; /*12px: html 폰트 최소 기준사이즈(html.css에 정의함)*/
}
.fs13{
    font-size: 1rem; /*13px: html 폰트 최소 기준사이즈(html.css에 정의함)*/
}
.fs14{
    font-size: 1.077rem; /*14px*/
}
.fs15{
    font-size: 1.154rem; /*15px*/
}
.fs16{
    font-size: 1.231rem; /*16px*/
}
.fs18{
    font-size: 1.385rem; /*18px*/
}
.fs20{
    font-size: 1.538rem; /*20px*/
}
.fs29{
    font-size: 2.231rem; /*29px*/
}




/*자간 간격*/
.les-0dot05{
    letter-spacing: 0.05px;
}
.les-0dot1{
    letter-spacing: 0.1px;
}
.les-0dot2{
    letter-spacing: 0.2px;
}
.les-0dot3{
    letter-spacing: 0.3px;
}
.les-0dot4{
    letter-spacing: 0.4px;
}
.les-0dot5{
    letter-spacing: 0.5px;
}
.les-0dot8{
    letter-spacing: 0.8px;
}
.les-1{
    letter-spacing: 1px;
}



/* flex 정리 */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-jcenter {
    justify-content: center;
}

.flex-center {
    align-items: center;
}

.flex-none {
    flex: none;
}

.flex-1 {
    flex: 1;
}

.flex-auto {
    flex: auto;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.flex-bottom {
    margin-top: auto;
}

.flex-top {
    margin-bottom: auto;
}

.flex-center-row {
    margin: auto 0;
}

.flex-center-col {
    margin: 0 auto;
}



/*위치*/
.po-u,
.p-unset{
    position: unset !important;
}
.po-r,
.p-relative{
    position: relative;
}
.po-a,
.p-absolute{
    position: absolute;
}
.po-sticky{
    position: sticky;
}
.f-right{
    float: right;
}
.f-left{
    float: left;
}
.m-t-1px{
    margin-top: 1px;
}
.d-none{
    display: none;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
.d-i-block{
    display: inline-block;
}
.d-i-b{
    display: inline-block;
}
.d-table{
    display: table;
}
.d-table-row{
    display: table-row;
}
.d-table-cell{
    display: table-cell;
    position: relative;
    height: 100%;
}
.d-flex{
    display: flex;
}
.v-middle{
    vertical-align: middle;
}
.v-top{
    vertical-align: top;
}
.v-bottom{
    vertical-align: bottom;
}

.a-center{
    align-items: center;
}


.none-deco{
    text-decoration: none;
}
.t-underline{
    text-decoration: underline !important;
}
.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}



/*마우스 포인터*/
.no-pointer{
    cursor: default;
}
.cupoint{
    cursor: pointer;
}



/*스크롤*/
.over-x-hidden{
    width: 1300px;
    overflow: hidden;
}
.over-hidden{
    overflow: hidden;
}
.over-auto{
    overflow: auto;
}
.scroll{
    overflow: scroll;
}
.scroll-y{
    overflow-y: scroll;
}



/*hide*/
.over-hidden{
    overflow: hidden;
}
.hide{
    display: none !important;
}



/*페이드인*/
.fadein{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
